@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");

@import url("components/container.css");
@import url("components/background.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Lora', serif;
	font-size: 20px;
	margin: 0px;
	background-color: #F8F8F8;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h2, h3{
	font-size: 30px;
}

a{
	text-decoration: none;
}
